body {
    background-color: maroon;
    font-size: 20px;
}

p {
    display:inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}

button {
    margin-left: 10px;
}

#movie {
    padding: 10px;
}

.submit-btn {
    margin-left: 10px;
    margin-top: 10px;
}